#result, #sample {
    position: absolute;
    left: 0;
    right: 0;
    overflow:scroll;
    border: 2px solid black ;
    border-radius: 25px;
    padding: 1%;
    margin: 0.5%;
}

#sample {
    height: 32%;
}

#result {
    bottom: 0;
    height: 50%;
}

#name {
    text-align:center;
}
